<div class="container marketing ">

  <h2 class="featurette-heading">Welcome to my API Website</h2>

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Yu-Gi-Oh. <span class="text-muted">Playing cards</span></h2>
      <p class="lead">Uses an API to display details related to Yu-Gi-Oh playing cards.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="../images/yugioh_logo.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Final Fantasy. <span class="text-muted">List of characters</span></h2>
      <p class="lead">Uses an API to display character information from every game from the Final Fantasy series.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" src="../images/final_fantasy_logo.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

</div>
